

<h2><%= @user.first_name %> <%= @user.last_name %></h2>
<p><%= @user.birthday %></p>
<p><%= @user.email %></p>

<h3>Here are your posts…</h3>


<% @user.posts.each do |post| %>
  <h3><%= post.title %></a></h3>
  <h3><%= post.date %></h3>
  <p><%= post.content %></p>
  <br>
<% end %>